.ip-info-key {
    color: #5294e2;
}

.ip-info-vpn-on {
    color: #6ae252;
}

.ip-info-vpn-off {
    color: #e25252;
}

.ip-info-box {
    padding-left: 20px;
    min-width: 320px;
}

.ip-info-value {
    color: #838A85;
}

.tooltip-label{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 4px 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.baseButton StIcon{
   icon-size: 16px;
}

